
<div class="order-hero-unit">
  <div class="container text-center hero-container">
    <h1></h1>
  </div>
</div>


<div class="row dashboard-navbar">
  <div class="col-sm-6 col-sm-offset-3">
    <ul class="nav navbar-nav">
      <li><a href="#"><h5 class="dashboard-navbar-menu-item">My Dashboard</h5></a></li>
      <li><a href="#"><h5 class="dashboard-navbar-menu-item">My Trips</h5></a></li>
      <li><a href="#"><h5 class="dashboard-navbar-menu-item">My Listings</h5></a></li>
      <li><a href="#"><h5 class="dashboard-navbar-menu-item">My Profile</h5></a></li>
    </ul>
  </div>
</div>
