<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 category-landing">
      <a href="/coffee">
      <div class="text-center category-unit coffee-landing category-unit-coffee">
          <h1>coffee</h1>
      </div>
    </a>
    </div>
    <div class="col-sm-4 category-landing">
      <a href="/tools">
      <div class="text-center category-unit tools-landing">
          <h1>tools</h1>
      </div>
    </a>
    </div>
    <div class="col-sm-4 category-landing">
      <a href="/gifts">
      <div class="text-center category-unit gifts-landing category-unit-gifts">
          <h1>gifts</h1>
      </div>
    </a>
    </div>
  </div>
</div>
