<div class="form-group text-center form-div">
  <%= form_for(:reservation, url: new_property_path) do |f| %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description= "Treat Yo'self"
    data-image= "/assets/nav-logo.png"
    data-amount="<%= amount %>"
    data-locale="auto"
    data-billing-address= true
    data-shipping-address= true
    data-panel-label= "Total"
    data-label= "Book Now!">
    </script>
    <% end %>
  </div>

</div>
