<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 category-landing">
      <div class="text-center category-unit miami-landing">
        <h1><%= link_to "Miami", {:controller => "properties", :action => "index", :location => "Miami, FL", :radius => "1000" } %></h1>
      </div>
    </a>
    </div>
    <div class="col-sm-4 category-landing">
      <div class="text-center category-unit los-angeles-landing">
        <h1><%= link_to "Los Angeles", {:controller => "properties", :action => "index", :location => "Los Angeles, CA", :radius => "1000" } %></h1>
      </div>
    </a>
    </div>
    <div class="col-sm-4 category-landing">
      <div class="text-center category-unit new-york-landing category-unit-gifts" id='new-york'>
        <h1><%= link_to "New York", {:controller => "properties", :action => "index", :location => "New York, NY", :radius => "1000" } %></h1>
      </div>
    </a>
    </div>
  </div>
</div>
