<ul class="nav pull-left user-cart">
  <li class="dropdown pull-right">
    <a href="#" data-toggle="dropdown" style="color:#777; margin-top: 5px;" class="dropdown-toggle"><i class="fa fa-user fa-lg"></i></a>
    <ul class="dropdown-menu">
      <li>
        <a href="/">order history</a>
      </li>
      <li>
        <a href="/">settings</a>
      </li>
      <li>
        <a href="/logout" title="Logout">logout </a>
      </li>
    </ul>
  </li>
  <li class="pull-right">
    <a id="cart" href="/cart" style="color:#777; margin-top: 5px;"><i class="fa fa-shopping-cart fa-lg"></i> (<%= @cart.count %>) </a>
  </li>
</ul>
