<ul class="nav pull-left user-cart">

  <% if current_user %>
  <%= link_to "List my Pad", new_property_path, method: :get, class:"btn btn-little-owl btn-lg list-my-pad" %>
    <li class="dropdown pull-right nav-icon">
      <a href="#" data-toggle="dropdown" style="color:#777; margin-top: 5px;" class="dropdown-toggle"><i class="fa fa-user fa-lg"></i></a>
      <ul class="dropdown-menu">
        <li class="name-in-dropdown">
          <%= current_user.fullname.downcase %>
        </li>
        <li><%= link_to "my dashboard", user_dashboard_path(current_user) %></li>
        <li>
          <%= link_to "logout", logout_path, method: :delete %>
        </li>
      </ul>
    </li>
  <% else %>
    <li class="pull-right nav-icon">
      <a id="login" href="/login" style="color:#777; margin-top: 5px;"><i class="fa fa-sign-in fa-lg"></i></a>
    </li>
  <% end %>
</ul>
