<div class="row">
  <div class="col-xs-12 text-center lo-footer">
    <p class="footer-text">© 2016 <span class="footer-text-bold">C.A.M.P</span> Inc., All Rights Reserved</p>
    <br>
    <br>
  </div>
</div>
