<nav>
  <div class="container-fluid">
    <div class="logo">
      Logo
    </div>
    <ul class="main-nav nav navbar-nav pull-left">
      <li><a href="#">About</a></li>
      <li><%= link_to "Shop", products_path %></li>
      <li><a href="#">Learn</a></li>
    </ul>
    <ul class="main-nav pull-right">
      <li><a href="#">login</a></li>
    </ul>
    </div>
  </div>
</nav>
