<!-- The Collapsing items            navbar-left or navbar-right -->
<div class="collapse navbar-collapse navbar-left">
  <ul class="nav navbar-nav pull-right menus">
    <li class="dropdown pull-right">
      <a href="#" data-toggle="dropdown" style="color:#777; margin-top: 5px;" class="dropdown-toggle">craft</i></a>
      <ul class="dropdown-menu">
        <li>
          <a href="/">items</a>
        </li>
      </ul>
    </li>
    <li class="dropdown pull-right">
      <a href="#" data-toggle="dropdown" style="color:#777; margin-top: 5px;" class="dropdown-toggle">shop</i></a>
      <ul class="dropdown-menu">
        <li>
          <a href="/coffee">coffee</a>
        </li>
        <li>
          <a href="/tools">tools</a>
        </li>
        <li>
          <a href="/gifts">gifts</a>
        </li>
        <li>
          <a href="/products">shop all</a>
        </li>
      </ul>
    </li>
    <li class="dropdown pull-right">
      <a href="#" data-toggle="dropdown" style="color:#777; margin-top: 5px;" class="dropdown-toggle">about</i></a>
      <ul class="dropdown-menu">
        <li>
          <a href="/">items</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
