<nav role="navigation" class="navbar navbar-default custom-navbar">
  <div class="nav-container">
    <%= render partial: "shared/navbar_brand" %>
      <div class="navbar-nav pull-right">
        <%= render partial: "shared/current_user" %>
      </div>
  </div>
</nav>
