<div class="navbar-header pull-left">
    <a class="logo-link" href="/"><%= image_tag("nav-logo.png", id:"nav-logo_img", class:"logo-img") %>
    <span class="little co-name">LITTLE </span><span class="owl co-name"> OWL</span></a><br>
</div>
