<nav role="navigation" class="navbar navbar-default custom-navbar">
  <div class="nav-container">
    <%= render partial: "shared/navbar_brand" %>
    <div class="navbar-nav pull-right">
      <%= render partial: "shared/current_user" %>
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span><span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <%= render partial: "shared/navbar_collapse" %>
  </div>
</nav>
