<div class="container">
  <div class="col-sm-6 col-sm-offset-2">
    <br>
    <h4>You don't have any listings</h4><br>

    <h5>Make money by renting out your extra space on CAMP. You’ll also get to meet interesting travelers from around the world!</h5>

    <%= link_to "Post a new Listing", new_property_path, method: :get, class:"btn btn-little-owl btn-md" %>
  </div>
</div>
