<div class="container">
  <div class="col-sm-6 col-sm-offset-2">
    <br>
    <h4>You don't have any trips</h4><br>

    <h5>You deserve a vacation! Check out some cool properties and start crashing!</h5>

    <%= link_to "Find a pad!", properties_path, method: :get, class:"btn btn-little-owl btn-md list-my-pad" %>
  </div>
</div>
