<div class="container-fluid">
  <div class="search" id: "searchbar">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="form-section">
            <div class="container-fluid row">
                <form role="form" action='/properties' method="get">
                  <input name="utf8" type="hidden" value="&#x2713;" />
                  <div class="col-md-3">
                    <div class="form-group" >
                      <label class="sr-only" for="location">Location</label>
                      <input type="text" name="destination" class="form-control" id="location" placeholder="Enter City, State" required>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="sr-only" for="checkin">Check in</label>
                      <div class="input-group">
                        <input type="text" class="form-control" name="checkin" id="checkin" placeholder="Check in" required>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="sr-only" for="checkout">Check out</label>
                      <div class="input-group">
                        <input type="text" class="form-control" name="checkout" id="checkout" placeholder="Check out" required>
                        <span class="input-group-addon" style="padding-right: 8px"><i class="glyphicon glyphicon-calendar"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="sr-only" for="guest">Guest</label>
                      <select id="guests" name="guest" class="form-control">
                          <option value="1 Guest">1 Guest</option>
                          <option value="2 Guests">2 Guests</option>
                          <option value="3 Guests">3 Guests</option>
                          <option value="4 Guests">4 Guests</option>
                          <option value="5 Guests">5 Guests</option>
                          <option value="6 Guests">6 Guests</option>
                          <option value="7 Guests">7 Guests</option>
                          <option value="8 Guests">8 Guests</option>
                          <option value="9 Guests">9 Guests</option>
                          <option value="10 Guests">10 Guests</option>
                          <option value="11 Guests">11 Guests</option>
                          <option value="12 Guests">12 Guests</option>
                          <option value="13 Guests">13 Guests</option>
                          <option value="14 Guests">14 Guests</option>
                          <option value="15 Guests">15 Guests</option>
                          <option value="16 Guests">16+ Guests</option>
                      </select>
                    </div>
                  </div>
                  <input type="hidden" name="radius" value="1000">
                  <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">Search</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
