<div class="order-hero-unit">
  <div class="container text-center hero-container">
    <h1></h1>
  </div>
</div>
<div class="row dashboard-navbar">
  <div class="col-sm-6 col-sm-offset-2">
    <ul class="nav navbar-nav">
      <li><%= link_to "My Dashboard", user_dashboard_path(current_user.slug), class:"dashboard-navbar-menu-item" %></li>
      <li><%= link_to "My Listings", user_properties_path(current_user.slug), class:"dashboard-navbar-menu-item" %></li>
      <li><%= link_to "My Trips", user_reservations_path(current_user.slug), class:"dashboard-navbar-menu-item" %></li>
    </ul>
  </div>
</div>
