<div class="hero-unit">
  <div class="container hero-container">
    <% if current_user.nil? || !current_user.platform_admin?  %>
        <h1 class="text-center"><span class="landing-span">Relax in paradise</span></h1>
    <% end %>
  </div>
</div>
<% if current_user.nil? || !current_user.platform_admin? %>
  <%= render partial: "shared/searchbar" %>
<% end %>
<%= render partial: "shared/city_imgs" %>
<%= render partial: "shared/mailing_list" %>
