<div class="hero-unit">
  <div class="container hero-container">
    <a href="#">
        <h1 class="text-center"><span class="landing-span">Relax in paradise</span></h1>
    </a>
  </div>
</div>

<%= render partial: "shared/searchbar" %>
<br>
<%= render partial: "shared/city_imgs" %>
<%= render partial: "shared/mailing_list" %>
