<div class="form-group text-center form-div">
  <%= form_for(:order, url: user_orders_path) do |f| %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description= "Get dat coffee"
    data-image= "/assets/nav-logo-dcbacebfd4a74e9dd03a8b25e54dd394ae20fa2d62a47a2c08a4b27fd80962d3.png"
    data-amount="<%= amount %>"
    data-locale="auto"
    data-billing-address= true
    data-shipping-address= true
    data-panel-label= "Total"
    data-label= "submit order">
    </script>
    <% end %>
  </div>

</div>
