.simple-calendar {
  text-align: center;

  .day {
    font-size: .75em;
    text-align: center;
  }



  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .date-booked {
    color: red;
    font-weight: 800;
    font-size: 1.25em;
  }

  a {
    font-size: .75em;
    font-weight: 400;
    margin-right: 20px;
    margin-left: 20px;
  }
  .today {
    color: white;
    background-color: navy;
  }
  .past {

  }
  .future {}

  .start-date {
  }

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {
    color: red;
  }
}
