.alert_alert {
  margin-top: -6px;
  margin-bottom: 0px;
  border-radius: 0px;
  text-align: center;
  color: white;
  background-color: #e74c3c;
}
.alert_alert a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.cart-product {
  border-top: 1px solid #DADFE1;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkout-total {
  text-align: center;
  font-weight: 800;
}
.shopping-cart-title {
  font-weight: 400;
  margin-bottom: -10px;
  margin-top: 5px;
}

.product-title {
  font-weight: 600;
  font-size: 1.5em;
  padding-bottom: -10px;
}

.product-price {
  font-size: 1.5em;
  margin-top: -8px;
}

.checkout-con {
  padding-top: 30px;
}

.cart-total {
  margin-top: 0px;
  font-weight: 400;
  font-size: 65px;
  margin-bottom: 20px;
}

.btn-checkout {
  background-color: #27ae60;
  color: white;
}

@media (max-width:767px) {
  .cart-total {
    font-size: 30px;
  }
}
