.alert_alert {
  margin-top: -6px;
  border-radius: 0px;
  text-align: center;
  color: white;
  background-color: #e74c3c;
}
.alert_alert a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.cart-product {
}

.product-title {
  font-size: 200%;
}

.product-info {

}
