.alert_alert {
  margin-top: -6px;
  margin-bottom: 0px;
  border-radius: 0px;
  text-align: center;
  color: white;
  background-color: #e74c3c;
}
.alert_alert a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.cart-product {
  border-top: 1px solid #DADFE1;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-title {
  font-size: 1.5em;
}

.checkout-con {
  padding-top: 30px;
}

.cart-total {
  margin-top: 0px;
  font-weight: bold;
}

.btn-checkout {
  background-color: #27ae60;
  color: white;
}
