#price-slider{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 50px;
  padding-bottom: 20px;
}

#filter-title {
  margin-top: 5px;
  text-align: center;
}

.filter-search .form-section{
  position: relative;
  z-index: 7;
  filter: blur(77px);
  transform: scale(1.2) translateY(5px);
  /*background: rgba(255, 0, 0, 0.3);*/
	/*border: 2px solid;*/
	border-radius: 5px;
	padding: 9px;
  height: 20px;
}

#filter-search-bar {
  margin-right: -200px;
}

.search-bar {
  margin-top: 0px;
  margin-bottom: 0px;
}

.search-filter{
  margin-bottom: -50px;
}
