.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
    margin-right: 25px;
}

.main-nav li {
    display: inline-block;
    margin-left: 10px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #3e70a5;
}
