.order-show-header {
  border: 1px solid #dadfe1;
  border-radius: 4px;
  margin-right: 3px;
  padding: 5px;
}

.order-show-header h3 {
  margin: 0;
  padding: 0;
}

.order-info-table {
  margin-top: 25px;
}

.float-right {
  float: right;
}

.search-form {
  margin-bottom: 5px;
}
