.admin-product-index-header {
  margin: 0;
}

.product-container {
  margin: 10px;
}

.btn-little-owl {
  color: white;
  background-color: #e74c3c;
}
.cart {
  padding: 15px;
  border:1px solid #DADFE1;
}

.featured-product {
  margin-top: 20px;
  margin-right: 30px;
}

.product-unit {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:300px;
}

.sm-product-info h4 {
  font-weight: 300;
  font-size: 15px;
}


.product-info a {
  text-decoration: none;
}

.product-info h4 {
  margin:0;
}

.sm-product-info h4 {
  margin-bottom:0;
}

@media (min-width:767px) {
  .product-info {
    display: none;
  }

  .xs-product-row {
    display: none;
  }

  .all-hero-unit {
    display: none;
  }
}

@media (max-width:767px) {
  .cart {
    margin-top: 10px;
  }

  .category-list {
    display: none;
  }

  .sm-product-row {
    display: none;
  }

  .sm-product-info {
    display: none;
  }

  .featured-sub-product {
    display: none;
  }

  .all-hero-unit {
    background-image: url('https://images.unsplash.com/photo-1444012236767-1b471c68781c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=80b7caf0ee750fbca6d5e68136aac5d1');
  }
}

.product-header {
  margin-bottom: 20px;
  font-weight: 800;
}

.product-header h2 {
  font-size: 25px;
  font-weight: 300;
}

.product-header p {
  color: #BDC3C7;
}

.divider {
  width:400px;
  height:0;
  border-top:2px solid rgba(192,192,192,0.3);
  font-size:0;
}

.product-image {
  width: 350px;
  height:200px;
  overflow:hidden;
}

.products {
  margin-left: 15px;
}

.products-rows {
  margin-top: 10px;
}

.product-div {
  margin-top: 15px;
}

.product-name {
  font-size: 100%;
  margin-top: 5px;
  margin-bottom: 1px;
}

.product-desc {
  margin-top:0;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table-products td {
  text-align: center;
}

@media only screen and (max-device-width: 480px) {
  .product-desc {
    display: hidden;
  }

}

.product-update-form {
  display: inline-block;
  height: 34px;
  padding: 6px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.featured-coffee {
  background-image:url('http://s3.amazonaws.com/littleowl-turing/products/images/000/000/014/show/open-uri20160308-77869-v1i6si?1457497048');
}

.featured-coffee h1 {
  text-decoration: none;
  color: #fff;
  margin-right:0;
  float: right;
  padding-top: 25px;
  padding-right: 40px;
  font-weight: 300;
  font-size: 20px;
}

.featured-tool h1 {
  margin:0;
}

@media (min-width:1200px) {
  .featured-tool h1 {
    color: #000;
    padding-top: 180px;
    font-weight: 300;
    font-size: 13px;
  }
}

@media (max-width:1200px) {
  .featured-tool h1 {
    color: #000;
    padding-top: 180px;
    font-weight: 300;
    font-size: 13px;
  }
}

@media (max-width:992px) {
  .featured-tool h1 {
    color: #000;
    padding-top: 180px;
    font-weight: 300;
    font-size: 13px;
  }
}

.featured-tool {
  background-image:url('http://s3.amazonaws.com/littleowl-turing/products/images/000/000/030/show/open-uri20160308-77869-20mqbw?1457497082');
}
