.btn-little-owl {
  color: white;
  background-color: #e74c3c;
}
.cart {
  padding: 15px;
  border-radius: 5px;
  border:1px solid #DADFE1;
}

@media (max-width:767px) {
  .cart {
    margin-top: 10px;
  }
}

.product-header {
  margin-bottom: 20px;
}
.product-header p {
  color: #BDC3C7;
}
.alert_info {
  margin-top: -6px;
  border-radius: 0px;
  text-align: center;
  color: white;
  background-color: #1abc9c;
}
