.btn-little-owl {
  color: white;
  background-color: #e74c3c;
}
.cart {
  padding: 15px;
  border-radius: 5px;
  border:1px solid #DADFE1;
}
@media (max-width:767px) {
  .cart {
    margin-top: 10px;
  }
}
.product-header {
  margin-bottom: 20px;
}
.product-header p {
  color: #BDC3C7;
}
.alert_info {
  margin-top: -6px;
  border-radius: 0px;
  text-align: center;
  color: white;
  background-color: #1abc9c;
}
.product-images {
  width: 275px;
  height:175px;
  overflow:hidden;
}
.products {
  margin-left: 15px;
}
.products-rows {
  margin-top: 10px;
}
.product-div {
  margin-top: 15px;
}

.product-name {
  font-size: 100%;
  margin-top: 5px;
  margin-bottom: 1px;
}

.product-desc {
  margin-top: 0px;
}

@media only screen and (max-device-width: 480px) {
  .product-desc {
    display: hidden;
  }
}
