#property_bedrooms {
  margin-right: 50px;
}
#property_bathrooms {
  margin-right: 50px;
}
#property_sleeps {
  margin-right: 50px;
}

textarea {
   resize:vertical;
}

.location-info {
  font-size: 2em;
}

.price-container {
  margin-top: -25px;

}

.calendar-container {
  margin-bottom: -20px;
}
