.mailing-list {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mailing-list h1 {
  margin: 0px;
}

.mailing-list h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 0px;
}

.mailing-list p {
  margin-bottom: 0px;
}
