.dashboard-navbar {
  background-color: #667696;
}

.dashboard-navbar-menu-item {
  font-weight: 300;
  color: white;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.dashboard-info {
  color: black;
}
